.header{
    background-color:  #10172C;
    height: calc( 100vh - 136px );
    background-image: url('/assets/home.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}
